<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mTanApp</display-name>
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>org.dhbw.otp.filters.SecurityFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AuthenticationFilterTAN</filter-name>
    <filter-class>org.dhbw.otp.filters.AuthenticationTANFilter</filter-class>
  </filter>
  <filter>
    <display-name>LogoutFilter</display-name>
    <filter-name>LogoutFilter</filter-name>
    <filter-class>org.dhbw.otp.filters.LogoutFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SecretFilter</filter-name>
    <filter-class>org.dhbw.otp.filters.SecretFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogoutFilter</filter-name>
    <url-pattern>/logout.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationFilterTAN</filter-name>
    <servlet-name>SecurityServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/protected/index.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecretFilter</filter-name>
    <url-pattern>/secret.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description>OTPServlet</description>
    <display-name>OTPServlet</display-name>
    <servlet-name>OTPServlet</servlet-name>
    <servlet-class>org.dhbw.otp.webapp.OTPServlet</servlet-class>
  </servlet>
  <servlet>
    <description>LogoutServlet</description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.dhbw.otp.webapp.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SecurityServlet</display-name>
    <servlet-name>SecurityServlet</servlet-name>
    <servlet-class>org.dhbw.otp.webapp.SecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPServlet</servlet-name>
    <url-pattern>/OTPServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecurityServlet</servlet-name>
    <url-pattern>/SecurityServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected resources</web-resource-name>
      <url-pattern>/protected/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Authenticated</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>style files of protected resources</web-resource-name>
      <url-pattern>/protected/style/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description>Fully authenticated users</description>
    <role-name>Authenticated</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>SecretServlet</display-name>
    <servlet-name>SecretServlet</servlet-name>
    <servlet-class>org.dhbw.otp.webapp.SecretServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecretServlet</servlet-name>
    <url-pattern>/SecretServlet</url-pattern>
  </servlet-mapping>
</web-app>